# OpenAPI Details
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

# Gemini API Details
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# You can choose "openai" or "gemini" as option in LLM_PROVIDER
LLM_PROVIDER=openai
